[submodule "ELM-MatLab"]
	path = ELM-MatLab
	url = https://github.com/MAngelGC/ELM-MatLab.git
	branch = main
[submodule "Perceptron-Multicapa-MatLab"]
	path = Perceptron-Multicapa-MatLab
	url = https://github.com/MAngelGC/Perceptron-Multicapa-MatLab.git
	branch = main
[submodule "Perceptron-Simple-ADALINE"]
	path = Perceptron-Simple-ADALINE
	url = https://github.com/MAngelGC/Perceptron-Simple-ADALINE.git
	branch = main
[submodule "Perceptron-Simple-MatLab"]
	path = Perceptron-Simple-MatLab
	url = https://github.com/MAngelGC/Perceptron-Simple-MatLab.git
	branch = main
[submodule "NTorres-Hopfield-MatLab"]
	path = NTorres-Hopfield-MatLab
	url = https://github.com/MAngelGC/NTorres-Hopfield-MatLab.git
	branch = main
[submodule "Memorias-Asociativas-Dinamicas"]
	path = Memorias-Asociativas-Dinamicas
	url = https://github.com/MAngelGC/Memorias-Asociativas-Dinamicas.git
	branch = main
[submodule "Memorias-Asociativas-Bidireccionales"]
	path = Memorias-Asociativas-Bidireccionales
	url = git@github.com:MAngelGC/Memorias-Asociativas-Bidireccionales.git
	branch = main
[submodule "Redes-Kohonen"]
	path = Redes-Kohonen
	url = git@github.com:MAngelGC/Redes-Kohonen.git
	branch = main
